<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
        <div class="tagbutton-container">
            {% for tag in site.tags %}
                <a href="#{{ tag | first }}">{{ tag | first }}</a>
            {% endfor %}
        </div>
        

        {% for tag in site.tags %}
            <a name="{{ tag | first }}">{{ tag | first }}</a>
            <ul>
                {% for post in tag.last %}
                    <li>
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        <small>{{ post.date | date: "%B %-d, %Y" }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    {% include footer.html %}

  </div>

</body>
</html>
